{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}
<div class="container">

    <h2 class="text-center mt-4">Get in Touch!</h2>

    <div class="d-flex justify-content-center">
        <div>
            <div class="col-md-6 p-4 form-control bg-light border border-secondary">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-sm btn-outline-success">Send</button>
                        <a href="javascript:history.back()" class="mx-3 btn btn-sm btn-outline-success">Return</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}