{% extends 'base.html' %} {% block content %}
<div class="container-md">
    <div class="d-flex">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <img src="/images/cover_pic.jpg" alt="picture of two gold frames" class="mb-4 img-fluid">
                <h3 class="mb-5">Northwest Frameworks is a custom wholesale picture frame provider, serving framers<br>
                    and artists in the Pacific Northwest and beyond.</h3>
            </div>

            <div class="col-md-3 mt-4 mb-4">
                <div class="text-left me-3">
                    <p>All our work is of the highest quality, milled in our own shop from raw lumber in walnut,
                    cherry, maple, and ash. Each frame features beautiful splined joinery and finishes ranging
                    from natural wood and selected stains to the finest water-gilded 12K and 22K gold leaf.
                    With two gold options and three colors of clay bole to choose from, we can offer our framing
                    clients a wide palette of color and design options for gilded work.</p>
                    <p>Dane B. Wilson has been gilding, framing, and building high-calibre art displays on the 
                        west coast for over thirty years.</p>
                        <div class="col-md-3 p-4 mt-4 form-control bg-light border border-secondary">
                            <p>Please contact us for wholesale inquiries, pricing and sample sets. We can setup your account
                                and provide login credentials.</p>
                        </div>
                    </p>
                </div>
            </div>
            <div class="col-md-5 mb-4 mt-4 ms-3 justify-content-right">
                <img src="/images/gold_samples.jpg" class="img-fluid" alt="picture of gold frame samples">
            </div>
        </div>
    </div>
</div>
{% endblock %}