{% extends 'base-user.html' %} {% block content %}
<div class="container-md">
    <div class="row my-2 justify-content-center">
        <div class="col-md-12">
            <h2 class="my-3 text-center">Open Cart for {{ profile.shop_name }}</h2>
            <div class="table-responsive form-control rounded bg-light p-4 mb-3
                        border border-secondary text-left">

                <table class="table">
                    <thead>
                        <tr class="bg-info bg-opacity-50">
                            <th scope="col">Manager</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th scope="col">Frame Total</th>
                            <th scope="col">Total Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ order.customer.first_name }} {{ order.customer.last_name }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{ frame_total }} </td>
                            <td>{{ total_cost }} </td>
                        </tr>
                        <thead>
                            <tr class="bg-success bg-opacity-25">
                                <th scope="col">Profile</th>
                                <th scope="col">Depth</th>
                                <th scope="col">Wood</th>
                                <th scope="col">Spline</th>
                                <th scope="col">Corner</th>
                                <th scope="col">Finish</th>
                                <th scope="col">Dimensions</th>
                                <th scope="col">Qauntity</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        {% for item in items %}
                    <tbody>
                        <tr>
                            <td>{{ item.profile.number }}</td>
                            <td>{{ item.depth }}</td>
                            <td>{{ item.wood.name }}</td>
                            <td>{{ item.spline.name }}</td>
                            <td>{{ item.corner.name }}</td>
                            <td>{{ item.finish.number }}</td>
                            <td>{{ item.width }} x {{ item.height }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.frame_price }}</td>
                        </tr>
                    </tbody>

                    {% if item.gold_ordered %}

                    <tbody>
                        <tr>
                            <td></td>
                            <td class="fw-bold">Top Gold/Finish:</td>
                            <td>{{ item.top_treatment.gold }} {{ item.top_treatment.name }}</td>
                            <td class="fw-bold">Side Gold/Finish:</td>
                            <td>{{ item.side_treatment.gold }} {{ item.side_treatment.name }}</td>
                            <td class="fw-bold">Bole:</td>
                            <td>{{ item.bole.name }}</td>
                            <td class="fw-bold">Gold Cost:</td>
                            <td>{{ item.gold_cost }}</td>
                        </tr>
                    </tbody>
                    {% endif %}
                    {% endfor %}
                </table>
                <form action="{% url 'close_cart' order.id %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <span class="input-group-text text-white bg-secondary opacity-75 border-secondary">Order
                            Notes</span>
                        <textarea class="form-control bg-white border-secondary" rows="3" name="text"
                            aria-label="With textarea"></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-success">Submit Order</button>
                </form>
            </div>
            <div class="col">
                <a class="btn btn-sm btn-outline-success" href="/place_order/" role="button">Add to Cart</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}