{% extends 'base-admin.html' %} {% block content %}
<div class="container-md">
    <h2 class="text-center mt-4 mb-4">Active Orders</h2>

    {% if order %}
    <div class="row my-2 justify-content-center">
        <div class="col-md-10">
            {% for order in order reversed %}
            <div class="table-responsive form-control rounded bg-light p-4 mb-2
                        border border-secondary text-left">

                <table class="table">
                    <thead>
                        <tr class="bg-info bg-opacity-50">
                            <th scope="col">Order #</th>
                            <th scope="col">Shop</th>
                            <th scope="col">Order Date</th>
                            <th scope="col">Frame Total</th>
                            <th scope="col">Due Date</th>
                            <th scope="col">Total Cost</th>
                            <th scope="col">Submited</th>
                            <th scope="col">Delivered</th>
                            <th scope="col">Paid</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ order.id }} </td>
                            <td>{{ order.customer.shop_name }}</td>
                            <td>{{ order.order_date }} </td>
                            <td>{{ order.frame_total }} </td>
                            <td>{{ order.due_date }}</td>
                            <td>{{ order.total_cost }} </td>
                            <td>{{ order.complete }}</td>
                            <td>{{ order.order_delivered }}</td>
                            <td>{{ order.order_paid }}</td>
                        </tr>
                        <thead>
                            <tr class="bg-secondary bg-opacity-25">
                                <th scope="col">Profile</th>
                                <th scope="col">Depth</th>
                                <th scope="col">Wood</th>
                                <th scope="col">Spline</th>
                                <th scope="col">Corner</th>
                                <th scope="col">Finish</th>
                                <th scope="col">Dimensions</th>
                                <th scope="col">Price</th>
                                <th scope="col">Qauntity</th>
                            </tr>
                        </thead>
                        {% for item in order.orderitem_set.all %}
                    <tbody>
                        <tr>
                            <td>{{ item.profile.number }}</td>
                            <td>{{ item.depth }}</td>
                            <td>{{ item.wood.name }}</td>
                            <td>{{ item.spline.name }}</td>
                            <td>{{ item.corner.name }}</td>
                            <td>{{ item.finish.number }}</td>
                            <td>{{ item.width }} x {{ item.height }}</td>
                            <td>{{ item.frame_price }}</td>
                            <td>{{ item.quantity }}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
                <div class="row justify-content-left ps-2 fw-bold">
                    <div class="col-md-1"> Notes: </div>
                    <div class='col-md-9 fw-normal'> {{ order.notes }}</div>
                </div>
            </div>
            <a href="{% url 'update_order' order.id %}" class="btn btn-sm btn-outline-success mt-1 mb-4">Edit Order Status</a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}