{% extends 'base.html' %} {% block content %}
<div class="container text-center">

    <h2 class="text-center mt-4">Login</h2>

    <div class="d-flex my-4 justify-content-center">
        <form action="{% url 'login_user' %}" method="POST">
            {% csrf_token %}

            <div class="input-group mb-3">
                <div class="input-group-text bg-secondary border-secondary text-white" 
                id="inputGroup-sizing-default">User Name</div>
                <input type="text" name="username" class="form-control bg-light" required
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-text bg-secondary border-secondary text-white" 
                id="inputGroup-sizing-default">Password</div>
                <input type="password" name="password" class="form-control bg-light"
                    required aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <button type="submit" class="btn btn-sm btn-outline-success">Submit</button>
        </form>
    </div>
</div>
{% endblock %}